@font-face {
    font-family: chineseAsian;
    src: url(font/ChineseAsianStyle.ttf);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(193, 218, 106, 0.1);
}

h1 {
    margin: 0;
    font-family: chineseAsian;
    font-size: 4em;
    text-align: center;
    padding: 0;
    color: black;
    background: url(img/scroll.png) center no-repeat;
    background-size: 100% 200px;
    border-radius: 50px;
    width: 600px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 10px red;
    user-select: none;
    transition: .2s;
}

h1:hover {
    text-shadow: 1px 1px 10px blue;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    font-family: chineseAsian;
    font-size: 2em;
    width: 250px;
    height: 60px;
    background-image: url(img/plank.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: .1s;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
    background-color: transparent;
}

.btn:active {
    transform: scale(1.2);
}

.ai:hover {
    text-shadow: 1px 1px 10px red;
}

.player:hover {
    text-shadow: 1px 1px 10px blue;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
}

.cell {
    margin: -1.5px;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 3px solid black;
}

.cell:hover {
    background-color: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}